{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<h1>TURMA</h1>
<h2>INFORMAÇÕES</h2>
<p>Materia: {{turma.nome}}</p>
<p>Qtd. Alunos: {{turma.get_quantidade_turma()}}</p>
<p>Professor: {{turma.professor.nome}}</p>

<h2>ALUNOS</h2>
{% if turma.turma %}
    <table>
    <tr>
        <th>Matricula</th>
        <th>Nome</th>
        <th>Saldo</th>
    </tr>
    {% for aluno in turma.turma %}
        <tr>
            <td>{{aluno.matricula}}</td>
            <td>{{aluno.nome}}</td>
            <td>{{aluno.saldo}}</td>
        </tr>
    {% endfor %}
</table>
{% else %}
    <h3>Não há alunos</h3>
{% endif %}

{% if user.tipo == "professor" %}
    <h2>ADICIONAR ALUNO</h2>
    <form method="post">
        <label for="matricula"> Matricula
            <input type="text" name="matricula" placeholder="matricula">
        </label>
        <button type="submit">Adicionar</button>
    </form>
{% endif %}

<a href="{{url_for('index')}}">Voltar</a>