<h1>TURMA</h1>
<h2>INFORMAÇÕES</h2>
<p>Materia: {{turma.nome}}</p>
<p>Qtd. Alunos: {{turma.qtdAlunos}}</p>
<p>Professor: {{turma.professor}}</p>

<h2>ALUNOS</h2>
<ul>
    {% for aluno in turma.alunos %}
        <li>{{aluno.nome}}</li>
    {% endfor %}
</ul>

{% if user.tipo == "professor" %}
    <h2>ADICIONAR ALUNO</h2>
    <form>
        <label for="matricula"> Matricula
            <input type="text" name="matricula" placeholder="matricula">
        </label>
        <button type="submit">Adicionar</button>
    </form>
{% endif %}

<a href="{{url_for('/')}}">Voltar</a>