<h1>TURMA</h1>
<h2>INFORMAÇÕES</h2>
<p>Materia: {{turma.nome}}</p>
<p>Qtd. Alunos: {{turma.get_quantidade_turma()}}</p>
<p>Professor: {{turma.professor.nome}}</p>

<h2>ALUNOS</h2>
<table>
    <tr>
        <th>Matricula</th>
        <th>Nome</th>
        <th>Saldo</th>
    </tr>
    {% for aluno in turma.turma %}
        <tr>
            <td>{{aluno.matricula}}</td>
            <td>{{aluno.nome}}</td>
            <td>{{aluno.saldo}}</td>
        </tr>
    {% endfor %}
</table>

{% if user.tipo == "professor" %}
    <h2>ADICIONAR ALUNO</h2>
    <form>
        <label for="matricula"> Matricula
            <input type="text" name="matricula" placeholder="matricula">
        </label>
        <button type="submit">Adicionar</button>
    </form>
{% endif %}

<a href="{{url_for('index')}}">Voltar</a>