<h1>CONVITES</h1>

<h2>Lista de convites</h2>
{% if not convites %}
    <p>Não há convites pendentes</p>
{% else %}
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Grupo</th>
            <th>Convidado</th>
        </tr>
    </thead>
    <tbody>
{% for convite in convites %}
    <tr>
        <td>{{ convite.id_convite }}</td>
        <td>{{ convite.id_grupo }}</td>
        <td>{{ convite.convidado_matricula }}</td>
        <td><a href="{{url_for('grupo.aceitar', id_convite=convite.id_convite)}}">Aceitar</a></td>
    </tr>
{% endfor %}
    </tbody>
</table>
{% endif %}

<h2>VOLTAR MENU</h2>
<a href="{{url_for('index')}}">Menu</a>