<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Transferências</title>
</head>
<body>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

    <h1>Transferências</h1>
    <table>
        <thead>
            <tr>
                <th>Emissor</th>
                <th>Receptor</th>
                <th>Valor</th>
                <th>Data</th>
            </tr>
        </thead>
        <tbody>
            {% for transferencia in transferencias %}
                <tr>
                    <td>{{ transferencia.emissor_id }}</td>
                    <td>{{ transferencia.receptor_id }}</td>
                    <td>{{ transferencia.valor }}</td>
                    <td>{{ transferencia.data }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>