{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<h1>Transacoes</h1>
<table>
    <thead>
        <tr>
            <th>Emissor</th>
            <th>Receptor</th>
            <th>Valor</th>
            <th>Data</th>
        </tr>
    </thead>
    <tbody>
        {% for transacao in transacoes %}
            <tr>
                <td>{{ transacao.emissor_id }}</td>
                <td>{{ transacao.receptor_id }}</td>
                <td>{{ transacao.valor }}</td>
                <td>{{ transacao.data }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>