<!--página para se logar, pede apenas a matricula e a senha do usuario -->
<form method="post">
    <label for="matricula">Matricula</label>
    <input name="matricula" id="matricula" required>
    <label for="senha">Senha</label>
    <input type="senha" name="senha" id="senha" required>
    <input type="submit" value="Logar">
</form>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}