{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<form method="post">
    <label for="nome">nome</label>
    <input name="nome" id="nome" required>
    <br>

    <label for="matricula">Matricula</label>
    <input name="matricula" id="matricula" required>
    <br>

    <label for="email">Email</label>
    <input type="email" name="email" id="email" required>
    <br>

    <label for="senha">Senha</label>
    <input type="password" name="senha" id="senha" required>
    <br>

    <label for="tipo" >Tipo</label>
    <select name="tipo" id="tipo">
        <option value="aluno">Aluno</option>
        <option value="professor">Professor</option>
    </select>

    <input type="submit" value="Registrar">
</form>