<!--Um fórmulario de registro de aluno é mais complexo que um formulário de login. -->
<form method="post">
    <label for="matricula">Matricula</label>
    <input name="matricula" id="matricula" required >
    <label for="senha">Senha</label>
    <input type="senha" name="senha" id="senha" required>
    <label for="tipo" >Tipo</label>
    <select name="tipo" id="tipo">
        <option value="aluno">Aluno</option>
        <option value="professor">Professor</option>
    </select>
    <input type="submit" value="Registrar">
</form>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}