{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<h1>PÁGINA DO ALUNO</h1>

<h2>INFORMAÇÕES</h2>
Usuario logado: {{ aluno.nome }} <br>
Matricula: {{ aluno.matricula }} <br>
Saldo: {{ aluno.saldo }} <br>
Turma: {{ aluno.id_turma }} <br>
Tipo: {{ aluno.tipo }} <br>
Grupo: {{ aluno.id_grupo }}

<h2>TURMA</h2>
{% if not aluno.id_turma %}
    <a href="{{ url_for('turma.entrar') }}">Entrar em turma</a>
{% else %}
    <a href="{{ url_for('turma.informacao', id_turma=aluno.id_turma) }}">Ver turma</a>
{% endif %}

<h2>GRUPO</h2>
{% if not aluno.id_grupo %}
    <a href="{{ url_for('grupo.criar') }}">Criar grupo</a>
    <a href="{{ url_for('grupo.convites') }}">Ver convites</a>
{% else %}
    <a href="{{ url_for('grupo.informacao') }}">Ver grupo</a>
{% endif %}

<h2>QRCODE</h2>
<a href="{{ url_for('qrcode.leitor') }}">Leitor de qrcode</a>

<h2>LOJA</h2>
<a href="{{ url_for('loja.loja')}}">Ver loja</a>

<h2>HISTÓRICO</h2>
<a href="{{ url_for('aluno.historico') }}">Ver histórico</a>

<h2>LOGIN</h2>
<a href="{{ url_for('auth.logout') }}">LogOut</a>
