<!doctype html>
<title>{% block title %}{% endblock %} - Ibmec Coin</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>Ibmec Coin</h1>
  <ul>
    {% if g.aluno %}
      <li><span>{{ g.aluno['matricula'] }}</span>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
      <li><a href="{{ url_for('blog.saldo')}}">Ver saldo</a>
    {% else %}
      <li><a href="{{ url_for('auth.registro_aluno') }}">Registro - Aluno</a>
    <li><a href="{{ url_for('auth.registro_professor') }}">Registro - Professor</a>
      <li><a href="{{ url_for('auth.login_aluno') }}">Log In - Aluno</a>
    <li><a href="{{ url_for('auth.login_professor') }}">Log In - Professor</a>

    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>