<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Bem vindo.</h1>
    <!-- Seção de login -->
    <h3>Informações gerais</h3>
    <p>
        Usuario logado:
        {{
            g.user['matricula']
            if g.user
            else 'Nenhum'
        }}
        <br>
        Turma:
        {{
            g.user['turma']
            if g.user['turma']
            else 'Nenhum'
        }}
        <br>
        Tipo:
        {{
            g.user['tipo']
            if g.user['tipo']
            else 'Nenhum'
        }}
    </p>
    <h3>Informações especifica sobre {{g.user['tipo']}}</h3>
    {%if g.user['tipo'] == 'aluno':%}
        <p>
            Saldo:
            {{
                g.user['saldo']
                if g.user['saldo'] is not none
                else 'Nenhum'
            }}
            <br>
        </p>
    <h3>Funções</h3>
    <a href="{{ url_for('qrcode.leitor') }}">
        <button>
            Leitor de qr code
        </button>
    </a>
    <a href="{{url_for('transfer.transferir')}}">
        <button>
            Transferir
        </button>
    </a>
    <a>
        <button>
            Ver histórico
        </button>
    </a>
    <a>
        <button>
           Loja
        </button>
    </a>
    <a href="{{url_for('transfer.grupo')}}">
        <button>
            Ver grupo de transferência
        </button>
    </a>
    {%elif g.user['tipo'] == 'professor':%}
        <div>
            <a href="{{ url_for('qrcode.foto', token='new') }}">
                <button>Gerar qr code</button>
            </a>
            <a href="{{ url_for('qrcode.foto', token='last') }}">
                <button>Vê último qr code gerado</button>
            </a>
            <a href="{{ url_for('prof.beneficiar') }}">
                <button>Beneficiar aluno</button>
            </a>
            <a href="{{ url_for('prof.transferencias') }}">
                <button>Ver transferências</button>
            </a>
        </div>
    {%endif%}

    <hr>

     <a href="{{ url_for('auth.logout') }}">
        <button >Log  Out</button>
     </a>
    <a href="{{ url_for('auth.registro_user')}}">
        <button>Se cadastrar</button>
    </a>
    <a href="{{ url_for('auth.login_user')}}">
        <button>Logar</button>
    </a>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

</body>
</html>