{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<h1>PROFESSOR</h1>

<h2>INFORMAÇÕES</h2>
<p>Matrícula: {{ professor.matricula }}</p>
<p>Nome: {{ professor.nome }}</p>
<p>Email: {{ professor.email }}</p>

<h2>TURMA</h2>
<table>
<tr>
    <th>Nome</th>
    <th>Quantidade alunos</th>
    <th>Acessar</th>
</tr>
{% for turma in turmas %}
<tr>
    <td>{{ turma.nome }}</td>
    <td>{{ turma.get_quantidade_turma() }}</td>
    <td><a href="{{ url_for('turma.informacao', id_turma = turma.id_turma) }}">Acessar</a></td>
</tr>
{% endfor %}
</table>

<a href="{{ url_for('turma.criar') }}">Criar turma</a>

<h2>QRCODE</h2>
<a href="{{ url_for('qrcode.criar') }}">Gerar qr code</a>
<a href="{{ url_for('qrcode.foto', token='last') }}">Vê último qr code gerado</a>

<h2>PONTUAR</h2>
<a href="{{ url_for('professor.beneficiar') }}">Beneficiar aluno</a>

<h2>LOJA</h2>
<a href="{{ url_for('loja.loja') }}">Ver loja</a>

<h2>HISTÓRICO</h2>
<a href="{{ url_for('professor.transacoes') }}">Ver transacoes</a>

<h2>LOGIN</h2>
<a href="{{ url_for('auth.logout') }}">Logout</a>